.constrain-image(@width: 100%) {
  height: auto !important;
  max-width: @width;
}

.sprite-bg(@x: 0, @y: 0) {
  @xpx: (@x * 50) + 0px;
  @ypx: (@y * 50) + 0px;
  background-image: url(../images/sprites/general.png);
  background-repeat: no-repeat;
  background-position: -@xpx -@ypx;
}

.sprite-element(@x: 0, @y: 0, @width: 50px, @height: 50px) {
  .sprite-bg(@x, @y);
  width: @width;
  height: @height;
  display: block;
}
