.Branding {
	position: relative;
	margin-bottom: 10px;
	display: block;
}

.Branding-logo {
	display: block;
	position: relative;
	top: 5px;
	transition: all .2s;

	.Branding-logo--portrait {
		max-width: 166px;
		max-height: 86px;

		.is-stickyNav & {
			max-width: 0;
			max-height: 0;
			overflow: hidden;
		}

		@media @mq-md, @mq-sm, @mq-xs {
			max-width: 0;
			max-height: 0;
		}
	}

	.Branding-logo--landscape {
		max-width: 0;
		max-height: 0;
		overflow: hidden;

		.is-stickyNav & {
			max-width: 50px;
			max-height: 35px;
			overflow: auto;
		}

		@media @mq-md, @mq-sm, @mq-xs {
			max-width: 50px;
			max-height: 35px;
			overflow: auto;
		}
	}
}