/* ==========================================================================
   LT: Container
   ========================================================================== */

body {
  padding-top: 152px;

  @media @mq-md, @mq-sm, @mq-xs {
  	padding-top: 55px;
  }
}

.Container-inner {
	padding-top: @space-vertical-lg;
	padding-bottom: @space-vertical-lg;
}

.Container--header {
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: all .2s;
	z-index: 1;

	.Container-inner {
		transition: all .2s;
		padding-top: @space-vertical;
		padding-bottom: @space-vertical;
	}

	.is-stickyNav & {
	  position: fixed;
	  top: 0;
	  left: 0;
	  right: 0;
	  box-shadow: 0 2px 2px 2px rgba(0,0,0,.25);
	  z-index: 1;

	  .Container-inner {
	  	padding-top: 5px;
	  	padding-bottom: 10px;	
	  }
	}

	.no-boxshadow & {
		border-bottom: 1px solid @color-neutral;
	}

	@media @mq-md, @mq-sm, @mq-xs {
		position: fixed;
	  top: 0;
	  left: 0;
	  right: 0;
	  box-shadow: 0 2px 2px 2px rgba(0,0,0,.25);
	  z-index: 1;

	  .Container-inner {
	  	padding-top: 5px;
	  	padding-bottom: 10px;
	  }
	}
}

.Container--top {
  min-height: 375px;
  *height: 375px;
  background: url(../images/home/masthead_banner.jpg) 50% 50% no-repeat;
}

.Container--message {
	background: url(../images/textures/cream.jpg);

	.Container-inner {
		position: relative;
		// padding-left: 150px;
		// padding-right: 380px;
		padding-top: @space-vertical-sm;	
	}
}

.Container--primary,
.Container--tertiary,
.Container--bottom {
  padding-top: @space-vertical-lg;
  padding-bottom: @space-vertical-lg;
}

.Container--secondary {
  background: url(../images/textures/green.jpg);
  padding-top: @space-vertical-xs;
  padding-bottom: @space-vertical-xs;
  padding-left: 0;
  padding-right: 0;

  .Container-inner {
  	max-width: none;
  	border-top: 1px dashed #a2ac70;
  	border-bottom: 1px dashed #a2ac70;
  	padding-top: @space-vertical-lg;
  	padding-bottom: @space-vertical-lg;


	  @media @mq-md, @mq-sm, @mq-xs {
	   padding-top: @space-vertical-xs;
	   padding-bottom: @space-vertical-xs;
	    
	  }

	  .Grid {
			max-width: @mq-xl-min-width;
			margin: 0 auto;
	  }
  }
}


.Container--bottom {
	background: url(../images/textures/cream.jpg);
  border-top: 2px solid @color-neutral-light;
  padding-top: @space-vertical-xl;
  padding-bottom: @space-vertical-xl;

  h2 {
    margin-top: 0;
  }
}

.Container--footer {
	padding-top: @space-vertical;
	padding-bottom: @space-vertical-lg;

	p {
		font-size: 17px;
		color: @color-neutral-darker;
	}
}

.Container--footerBottom {
	background: @color-neutral-darker;
	text-align: center;
	color: @color-neutral-light;
  font-size: 15px;
  color: @color-neutral-light;
}
