.Grid-cell--bottom {
  margin-top: @space-vertical;
  margin-bottom: @space-vertical;
}

.Contact-address,
.Contact-telephone,
.Contact-email,
.Contact-website, {
  margin-bottom: 36px;
}

.Contact-address {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-weight: normal;

  padding-left: 70px;

  position: relative;
  &:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;

    .sprite-element(9,1);
  }
}

.Contact-furtherInfo {
  .Contact-telephone,
  .Contact-email,
  .Contact-website,
  .Contact-twitter {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: @base-color;

    padding-left: 70px;

    > a {
      text-decoration: underline;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-weight: normal;
      color: @base-color;

      &:hover {
        color: @color-primary-light;
      }
    }

    position: relative;
    &:before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .Contact-telephone:before {
    .sprite-element(9,0);
  }

  .Contact-email:before {
    .sprite-element(9,2);
  }

  .Contact-website:before {
    .sprite-element(9,3);
  }

  .Contact-twitter:before {
    .sprite-element(9,4);
  }
}