.Container--cookies {
  background: @color-secondary-lighter;
  font-size: 14px;
  text-align: center;
  padding-top: @space-vertical-sm;
  padding-bottom: @space-vertical-sm;
  border-top: 4px solid @color-tertiary-light;

  z-index: 200;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  .Container-inner {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
  }

  .Box-title {
    .is-hiddenVisually;
    margin: 0;
    padding: 0;
  }

  .CookieMessage {
    display: inline-block;

    > p {
      margin: 0;
    }
  }

  .CookieOptions {
    display: inline-block;
    padding: 0;
    margin: 0;

    > li {
      list-style: none;
      display: inline-block;;
      margin-left: @space-horizontal-sm;
    }

    .CookieOptions-continue {
      text-indent: -9999px;

      > a:after {
        content: "\f00d";
        display: inline-block;
        font-family: icomoon;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        text-indent: 0;
        -webkit-font-smoothing: antialiased;
        speak: none;

        vertical-align: middle;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
