.Icon {
	display: inline-block;
	margin-left: 0.5em;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&.is-active {
		color: #002817;
	}
}

.Icon--arrowUp:before {
	content: "\f106";
}

.Icon--arrowLeft:before {
	content: "\f104";
}

.Icon--arrowRight:before {
	content: "\f105";
}

.Icon--arrowDown:before {
	content: "\f107";
}

.Icon--menuToggle:before {
	content: "\f0c9";
}