#messages {
  position: fixed;
  z-index: 990;
  bottom: 0;
  left: 0;
  right: 0;

  box-shadow: 0 -2px 2px rgba(0,0,0,.5);

  .js & {
    box-shadow: none;

    top: 90px;
    right: 15%;
    left: 15%;
    bottom: auto;

    text-align: center;
  }
}

.messages {
  border-radius: 0;
  margin: 0;
  cursor: pointer;

  padding: @space-horizontal;

  border: 0;
  border-top: 1px solid;

  > ul.messages__content {
    margin-left: 0;

    > li {
      float: left;
      margin-left: @space-horizontal;
      list-style-type: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  > div.messages__content {
    margin-left: @space-horizontal;

    > p:last-child {
      margin-bottom: 0;
    }
  }

  .js & {
    display: inline-block;
    border: 1px solid;
    padding: @space-horizontal;
    margin-top: @space-vertical;
    width: 100%;
    text-align: left;

    position: relative;
    > span {
      position: absolute;
      top: 4px;
      right: 8px;
    }

    > ul.messages__content {
      margin-left: 0;

      > li {
        float: none;
        margin-left: @space-horizontal;
        list-style-type: circle;
      }
    }
  }
}
