.Container--top {

  .Box-content {
	  color: #fff;
    display: inline-block;
	  font-family: "GillSansW01-DisplayBold 709822", arial, sans-serif;
	  font-size: 65px;
	  letter-spacing: 3px;
	  margin-top: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
    position: relative;
	  text-align: center;
	  text-transform: uppercase;

	  @media @mq-md, @mq-sm, @mq-xs {
	  	font-size: 40px;
	  }

    &:before,
    &:after {
      content: " ";
      display: inline-block;
      position: absolute;
      left: 40%;
      width: 20%;
      height: 3px;
      background: #fff;
    }

    &:before {
      top: 0;

    }

    &:after {
      bottom: 0;
    }
  }

	.Button {
		margin-top: @space-vertical-xl;
	}
}

.Container--message {
	.Container-inner {
		&:before {
			background-image: url(/sites/all/themes/custom/lt/images/sprites/general.png);
			background-repeat: no-repeat;
			background-position: 0px 0px;
			width: 320px;
			height: 298px;
			display: block;
			content: "";
			position: absolute;
			bottom: 0;
			right: 20px;

			@media @mq-md, @mq-sm, @mq-xs {
				display: none;
			}
		}
		&:after {
			content: "Rooney Anand, Greene King CEO";
			position: absolute;
			width: 320px;
			right: 20px;
			bottom: -24px;
			text-align: center;
			font-style: italic;
			color: #aaa6a3;
			font-size: 12px;
			font-size: 12px;
			line-height: 1.6368693681042;

			@media @mq-md, @mq-sm, @mq-xs {
				display: none;
			}
		}
	}
}