.Grid-cell--mainMenu {
  vertical-align: bottom
}

.Nav {
  margin-bottom: 10px;
}

.Nav-item {
  > a {
    color: @color-primary;
    font-family: @headings-font-family;
    letter-spacing: 1px;
    text-transform: uppercase;

    &:hover {
      color: @color-primary-light;
      text-decoration: none;
    }
  }
}

.Nav--mainMenu {
  font-size: @base-font-size;

  @media @mq-md, @mq-sm, @mq-xs {
    left: 100%;
    position: fixed;
    text-align: center;
    top: 50px;
    width: 100%;
    background: #fff;
    padding: 0;
    border-top: 1px solid #b99765;
    transition: left 0.2s;
    box-shadow: 0 2px 2px 2px rgba(0,0,0,.25);
    z-index: 3;

    &.is-shown {
      left: 0;
    }
  }


  > .Nav-item {
    border-right: 1px solid @color-secondary;
    margin-right: @space-horizontal-lg;
    padding-right: @space-horizontal-lg;

  @media @mq-lg, @mq-md, @mq-sm { 
    margin-right: @space-horizontal-xs;
    padding-right: @space-horizontal-xs;
    font-size: 13px;
  }

  @media @mq-xs {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
    display: block;
    
  }

  @media @mq-md, @mq-sm, @mq-xs {
    padding-top: @space-vertical-xs;
    padding-bottom: @space-vertical-xs;

    a {
      font-size: 13px;
    }
  }

    &:last-child {
      border-right: 0;
      margin-right: 0;
      padding-right: 0;
    }

    &.is-active > a {
      text-decoration: underline;
    }
  }
  .is-stickyNav & {
    // margin-top: 0;
  }
}

.MenuToggle {
  @media @mq-md, @mq-sm, @mq-xs {
    display: inline-block;
  }
  width: 55px;
  display: none;
  font-size: 36px;
  position: absolute;
  right: 0;
  padding-right: 5px;
  padding-top: 3px;
  top: 0;

  .Icon {
    color: @color-neutral-light;
    margin-left: @space-horizontal-xs;
  }

  a:hover, a:focus {
    text-decoration: none;
  }
  &.is-active {
    color: @color-neutral-light;
    box-shadow: inset 3px 3px 8px rgba(0,0,0,0.3);
  }
}

.Nav--anchors {
  float: right;
  margin: 0;
  position: relative;
}

.active-anchor-tag {
  background: @color-primary;
  display: none;
  height: 2px;
  position: fixed;
  z-index: 998;
}
