.Report {

  &.Report--detail {
    margin-bottom: @space-vertical-lg;
  }

  .Report-title {
    margin-top: 0;
  }

  .Report-content {
    max-width: 580px;
    margin: 0 auto;
    margin-bottom: @space-vertical;
    font-size: 18px;
    line-height: 1.4;
  }

  .Report-highlights {
    //display: table;
    width: 100%;
    text-align: center;
    margin-top: @space-vertical-lg;
    margin-bottom: @space-vertical-lg;

    > .Report-highlight {
      width: 250px;
      height: 250px;
      display: inline-block;
      margin-left: @space-horizontal-lg;
      margin-right: @space-horizontal-lg;
      margin-top: @space-vertical;

      background: @color-primary;
      border: 5px solid @color-primary-lighter;
      border-radius: 50%;

      color: white;
      font-size: 21px;

      > .Report-highlightContent {
        display: table-cell;
        width: 250px;
        height: 250px;
        padding-left: @space-horizontal-lg;
        padding-right: @space-horizontal-lg;

        text-align: center;
        vertical-align: middle;

        > em {
          display: block;
          font-size: 38px;
          line-height: 1;
          font-style: normal;
        }
      }
    }
  }

  .Report-document--current,
  .Report-pressRelease--current {
    text-align: center;
    margin-top: @space-vertical;

    .Button {
      width: 330px;
      max-width: 100%;
    }
  }

  .Report-pressRelease--current {
    > .Button {
      background: @color-neutral-light;
      box-shadow: inset -2px -2px 1px @color-neutral;
      transition: all .2s;
      color: @color-neutral-dark;

      &:hover {
        background: @color-primary-light;
        box-shadow: inset -2px -2px 1px @color-primary;
        color: #fff;
      }

      &:active {
        background: @color-primary;
        box-shadow: inset 2px 2px 1px @color-primary-dark;
        color: #fff;
      }
    }
  }

}

.Reports--previous {
  background: @color-neutral-lighter;
  border: 1px solid @color-neutral;
  padding-left: @space-horizontal-lg;
  padding-right: @space-horizontal-lg;
  padding-top: @space-vertical;
  padding-bottom: @space-vertical;
  clear: both;

  .Report-listItem {
    padding-top: @space-vertical;
    padding-bottom: @space-vertical;
    border-top: 2px solid @color-neutral-light;
    vertical-align: middle;
    margin-bottom: 0;

    &:first-child {
      border-top: 0;
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    .Report-title {
      color: @color-neutral-darker;
      font-family: @base-font-family;
      text-transform: none;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: normal;
      margin: 0;
      display: inline-block;
      vertical-align: middle;

      &:before {
        .sprite-element(7,5,43px,57px);

        content: " ";
        display: inline-block;
        margin-right: @space-horizontal-lg;
        vertical-align: middle;
      }
    } 

    .Report-documents {
      text-align: right;

      @media @mq-md, @mq-sm, @mq-xs {
        text-align: left;
        padding-left: 33px;
      }
    }

    .Report-document,
    .Report-pressRelease {
      *display: inline;
      *zoom: 1;
      display: inline-block;
      margin-left: @space-horizontal-xl;
      padding-top: @space-vertical-sm;
      vertical-align: middle;

      @media @mq-md, @mq-sm, @mq-xs {
        padding-top: 0;
      }

      > a {
        font-family: @headings-font-family;
        text-transform: uppercase;
        text-decoration: underline;
        font-size: 19px;

        > .Icon {
          margin-left: @space-vertical-sm;
        }
      }
    }

    .Report-pressRelease {
      > a {
        color: @color-neutral;

        &:hover {
          color: @color-primary;
        }

        &:active {
          color: @color-primary-dark;
        }
      }
    }
  }
}

.Report-viewPrevious {
  padding-left: @space-horizontal;
  margin-bottom: @space-vertical;

  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 17px;
  font-family: @headings-font-family;
  color: @color-secondary;

  &:hover {
    color: @color-secondary-dark;
  }

  > span {
    margin-left: @space-vertical-sm;
  }
}


.Report-availability {
  color: #fff;
  font-size: 26px;
  font-style: italic;
  text-align: center;
  line-height: 1.3;

  padding: 10px 10px 0 10px;

  @media @mq-md, @mq-sm, @mq-xs {
    font-size: 16px;
  }

  > .Report-availabilityDate {
    font-size: 2.2em;
    width: 100%;
    display: inline-block;
    font-family: "GillSansW01-DisplayBold 709822", arial, sans-serif;
    font-style: normal;
    text-transform: uppercase;
  }
}

.gk-methods {
  padding: 0;
  margin-top: @space-vertical-lg;

  > li {
    float: left;
    width: 50%;
    margin-bottom: @space-vertical;
    padding: 0 50px;
    list-style-type: none;
    font-style: italic;
    font-size: 20px;

    @media @mq-md, @mq-sm, @mq-xs {
      width: auto;
      padding: 0 0 0 @space-horizontal-lg;
      font-size: 16px;
    }

    &:before {
      content: "\25CF";
      display: inline-block;
      font-weight: normal;
      font-style: normal;
      color: @color-primary-light;
      text-decoration: inherit;
      -webkit-font-smoothing: antialiased;
      speak: none;

      float: left;
      width: 50px;
      text-align: center;
      margin-left: -50px;
      margin-top: 3px;
      font-size: 30px;
      line-height: 20px;
    }
  }
}

.gk-leisure-activities {
  

  margin-top: @space-vertical-xl;
  padding-top: @space-vertical-lg;
  padding-left: @space-horizontal-lg;
  padding-right: @space-horizontal-lg;

  background: #fafafa;
  border: 1px solid @color-neutral;

  > li {
    float: left;
    width: 33.33%;
    min-height: 50px;
    *height: 50px;

    margin-bottom: @space-vertical-lg;
    padding-left: 90px;

    list-style-type: none;
    font-size: 16px;

    position: relative;

    @media @mq-md, @mq-sm, @mq-xs {
      float: none;
      width: auto;
    }

    &:after {
      content: " ";
      position: absolute;
      top: 0;
      left: 25px;
    }

    &.gk-drinking-out:after      { .sprite-element(7, 0); }
    &.gk-live-events-sport:after { .sprite-element(8, 2); }
    &.gk-gambling:after          { .sprite-element(7, 3); }
    &.gk-eating-out:after        { .sprite-element(7, 1); }
    &.gk-live-events-other:after { .sprite-element(8, 0); }
    &.gk-bowling:after           { .sprite-element(8, 3); }
    &.gk-cinema-theatre:after    { .sprite-element(7, 2); }
    &.gk-museums:after           { .sprite-element(8, 1); }
    &.gk-gym:after               { .sprite-element(7, 4); }
  }
}
