// -----------------------------------------------------------------------------
//  LT: Config
// -----------------------------------------------------------------------------

// Base
// -----------------------------------------------------------------------------

@base-color: @color-neutral-dark;
@base-font-family: Georgia, serif;
@base-font-size: 15px;
@base-line-height: 1.5;
@base-border-radius: 3px;


// Headings
// -----------------------------------------------------------------------------

@headings-color: @color-neutral-darker;
@headings-font-family: "Gill Sans W01 Book", arial, sans-serif;

// Grid
// -----------------------------------------------------------------------------

@grid-gutter-size: @space-horizontal-lg;
@grid-font-size: @base-font-size;

// Space
// -----------------------------------------------------------------------------

// Horizontal
@space-horizontal-xs: @space-horizontal / 2; 
@space-horizontal-sm: @space-horizontal / 1.5;
@space-horizontal: 20px;
@space-horizontal-lg: @space-horizontal * 1.5;
@space-horizontal-xl: @space-horizontal * 2;

// Vertical
@space-vertical-xs: @space-vertical / 2; 
@space-vertical-sm: @space-vertical / 1.5;
@space-vertical: 22px;
@space-vertical-lg: @space-vertical * 1.5;
@space-vertical-xl: @space-vertical * 2;

// Media query breakpoints
// -----------------------------------------------------------------------------

@mq-sm-min-width: 24em;
@mq-md-min-width: 36em;
@mq-lg-min-width: 830px;
@mq-xl-min-width: 1000px;

// Off-canvas
// -----------------------------------------------------------------------------

@offcanvas-offset-top: 65px;

// Colors
// -----------------------------------------------------------------------------

// Neutral
@color-neutral-darker: #1e1d1d;
@color-neutral-dark: #797979;
@color-neutral: #aaa6a3;
@color-neutral-light: #d6cfc9;
@color-neutral-lighter: #f7f1ec;
@color-neutral-lightest: #f7f7f7;

// Primary
@color-primary-darker: #00160c;
@color-primary-dark: #002817;
@color-primary: #00522f;
@color-primary-light: #a2ac70;
@color-primary-lighter: #c5cba8;

// Secondary
@color-secondary-darker: #3f2d10;
@color-secondary-dark: #856738;
@color-secondary: #b99765;
@color-secondary-light: #e8c187;
@color-secondary-lighter: #ffdca9;

//Tertiary
@color-tertiary: #b1cbe9;
@color-tertiary-light: #d1e0f2;
@color-tertiary-lighter: #f1f7ff;
@color-tertiary-dark: #365361;
@color-tertiary-darker: #5e7ea1;

//Links
@link-color: @color-secondary;
@link-color-hover: @color-secondary-darker;
@link-color-active: @color-primary-dark;
@link-color-visited: @color-secondary-dark;