// Config
// -----------------------------------------------------------------------------

@minima-path: "profiles/gk/libraries/minima/src/less";

@import "@{minima-path}/config.less";
@import "config.less";

// Utilities
// -----------------------------------------------------------------------------

@import "@{minima-path}/utility/pull.less";
@import "@{minima-path}/utility/push.less";
@import "@{minima-path}/utility/size.less";
@import "@{minima-path}/utility/utility.less";

/* Sizing for IE8 and lower
   -------------------------------- */
.u-size-rules(ie);

/* Push for IE8 and lower
   -------------------------------- */
.u-push-rules(ie);

/* Pull for IE8 and lower
   -------------------------------- */
.u-pull-rules(ie);