img {
  max-width: 100%;
  height: auto;

  .node__content & {
    vertical-align: bottom;
  }
}

p.standfirst {}

p.standout {}

blockquote {
  font-size: 17px;
  color: @color-neutral-dark;
  font-style: italic;

  &.pull-quote {
    position: relative;
    padding-left: 30px;
    padding-right: 25px;
    padding-top: .4em;
    padding-bottom: .4em;
    margin: 1em 0;
    &:before, &:after {
      position: absolute;
      font-family: @base-font-family;
      font-size: 38px;
      font-weight: bold;
      color: @color-primary-light;
    }

    &:before {
      content: open-quote;
      top: 0;
      left: 0;
      line-height: 1;
      vertical-align: top;
    }

    &:after {
      content: close-quote;
      position: absolute;
      bottom: 0;
      right: 0;
      line-height: 0.1;
      vertical-align: bottom;
    }
  }
}

.is-invisible {
  margin: 0;
  padding: 0;
}

a:link, a, a:visited {
  color: @color-secondary;
}

a:hover {
  color: @color-primary;
}

a:active {
  color: @color-primary-dark;
}

