.Button, button, input[type=submit], a:link.Button, a:visited.Button {
  background: @color-secondary;
  box-shadow: inset -2px -2px 1px @color-secondary-dark;
  border-radius: 2px;
  border: 0;
  color: #fff;
  display: inline-block;
  font-family: @headings-font-family;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;

  padding: 16px 36px;
  height: auto;

  transition: all .2s;

  &:hover {
    background: @color-primary-light;
    box-shadow: inset -2px -2px 1px @color-primary;
    text-decoration: none;
  }

  &:active {
    background: @color-primary;
    box-shadow: inset 2px 2px 1px @color-primary-dark;
  }
}
