@font-face {
  font-family: 'st_edmund_sansregular';
  src: url('../fonts/st_edmund_sans.eot');
  src: url('../fonts/st_edmund_sans.eot?#iefix') format('embedded-opentype'),
       url('../fonts/st_edmund_sans.woff') format('woff'),
       url('../fonts/st_edmund_sans.ttf') format('truetype'),
       url('../fonts/st_edmund_sans.svg#st_edmund_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-g074rr');
	src:url('../fonts/icomoon.eot?#iefix-g074rr') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-g074rr') format('woff'),
		url('../fonts/icomoon.ttf?-g074rr') format('truetype'),
		url('../fonts/icomoon.svg?-g074rr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}