input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="file"] {
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  height: 65px;
  line-height: 65px;
  width: 100%;
  max-width: 100%;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="file"],
textarea {
  font-size: 20px;
  padding-left: @space-horizontal-sm;
  padding-right: @space-horizontal-sm;
  border-color: @color-neutral;
  border-radius: 3px;
}

textarea {
  padding: @space-vertical-sm
}
