h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

h1, h2 {
  color: @color-primary;
}

h3, h4, h5, h6 {
  color: @color-secondary;
}

h1 {
  &:first-child {
    margin-top: 0;
  }
}

h2 {
  font-size: 42px;
  text-align: center;
  margin-bottom: @space-vertical-xl;

  &:after {
    content: " ";
    height: 2px;
    width: 200px;
    margin: 0 auto;
    background: @color-secondary;
    display: block;
    // margin-top: @space-vertical-sm;
  }
}

h3 {
  font-size: 25px;
  text-transform: none;
  color: @color-primary-light;
}

h4 {}

h5 {}

h6 {}
